<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/searchbar.css">
    <link rel="stylesheet" href="/css/textbook.css"> 
    <link rel="stylesheet" href="/css/newTextbook.css">
    <link rel="stylesheet" href="/croppie/croppie.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/croppie/croppie.min.js"></script>
    <script src="/javascript/newTextbook.js"></script>
    <script src="/javascript/showTextbook.js"></script>
    <title>booksmart - Get books smarter!</title>
</head>

<body>
<div class="page-wrap">
    <%- include('../partials/header.ejs') %>
    <main>
        <h1>Sell Your Textbook</h1>
        <form class="page-main" action="/textbooks/<%= textbook.id %>?_method=PUT" onsubmit="return validate()" method="POST">
            <div class="img-wrap">
                <!-- TODO: URL -->
                <!-- TODO: Upload to server -->
                <!-- TODO: Support multiple photos -->
                <h2>Cover Photo <span>*</span></h2>
                <div id="upload-demo">
                </div>
                <div class="actions">
                    <label for="upload" id="uploadLabel">Browse for a Cover Photo</label>
                    <input type="file" id="upload"/>
                    <button class="upload-result" type="button">
                        Crop & Save
                    </button>
                    <p>Once you upload your cover photo, you may choose other photos to include.</p>
                    <button class="remove-photo" type="button" onclick="removePhoto()">Remove Selected Photo</button>
                </div>
            </div>
            <div class="info">
                <div class="form-group">
                    <label for="title">Textbook Title <span>*</span></label>
                    <input id="title" name="title" type="text" value="<%=textbook.title%>" required>
                </div>

                <div class="form-group">
                    <label for="price">Asking Price ($) <span>*</span></label>
                    <div class="price"><input id="price" name="price" type="text" value="<%=textbook.price%>" required></div>
                </div>

                
                <h2>Textbook Info</h2>
                <ul>
                    <!-- author -->
                    <li><div class="form-group">
                        <label for="author">Textbook Author <span>*</span></label>
                        <input id="author" name="author" type="text" value="<%=textbook.author%>" required>
                    </div></li>
                    <!-- ISBN -->
                    <li><div class="form-group">
                        <label for="isbn">Textbook ISBN <span>*</span></label>
                        <input id="isbn" name="isbn" type="text" value="<%=textbook.isbn%>" required>
                    </div></li>
                    <li><div class="form-group">
                        <!-- quality -->
                        <label for="quality">Textbook Quality <span>*</span></label>
                        <select id="quality" name="quality" required>
                            <option value="" disabled>Select the most accurate quality</option>
                            <%
                            var qualities = ["Like New", "Very Good", "Good", "Fair", "Poor"];
                            qualities.forEach(function(q) { %>
                                <option value="<%=q%>"<% if (textbook.quality == q) { %> selected <%}%> ><%=q%></option>
                            <% }); %>
                        </select>
                    </div></li>
                    <li><div class="form-group">
                        <label for="imageurl">Image Url<span>*</span></label>
                        <input id="imageurl" name="imageurl" type="text" value="<%=textbook.images[0]%>" required>
                    </div></li>
                </ul>
                <h2>Class Info</h2>
                <ul>
                    <!-- subject -->
                    <li><div class="form-group">
                        <label for="subject">Subject Area <span>*</span></label>
                        <select id="subject" name="subject" required>
                            <option value="" disabled>Select the most appropriate subject</option>
                            <%
                            var categories = ["Architecture", "Business", "Computer Science", "Creative Arts", "Education", "Engineering", "Health & Medicine", "Humanities", "Pure Sciences", "Social Studies"];
                            categories.forEach(function(c) { %>
                                <option value="<%=c%>"<% if (textbook.subject == c) { %> selected <%}%> ><%=c%></option>
                            <% }); %>
                        </select>
                    </div></li>
                    <!-- class code -->
                    <li><div class="form-group">
                        <label for="classcode">Class Code<span></span></label>
                        <input id="classcode" name="classcode" type="text" value="<%=textbook.classcode%>">
                    </div></li>
                    <!-- class name -->
                    <li><div class="form-group">
                        <label for="classname">Class Name <span></span></label>
                        <input id="classname" name="classname" type="text" value="<%=textbook.classname%>"> 
                    </div></li>
                    <!-- professor -->
                    <li><div class="form-group">
                        <label for="professor">Professor <span></span></label>
                        <input id="professor" name="professor" type="text" value="<%=textbook.professor%>">
                    </div></li>
                </ul>
                <div id="submit">
                    <button type="submit">Update Listing</button>
                </div>
            </div>
            <div id="extra-images-wrap">
                <% for (i=0; i < textbook.images.length; i++) { %>
                    <a href="<%=textbook.images[i]%>" <% if (i==0) { %> class="focused" <% } %>><img src="<%=textbook.images[i]%>" alt="textbook photo"></a>
                <% } %>
            </div>
            <div></div>
        </form>
    </main>
    <%- include('../partials/footer.ejs') %>
  </div>
</body>
</html>