<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/searchbar.css">
    <link rel="stylesheet" href="/css/textbooks.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>booksmart - Get books smarter!</title>
</head>

<body>
  <div class="page-wrap">
    <%- include('../partials/header.ejs') %>
    <main class="page-main">
        <h1>Showing All Textbooks</h1>
        <!-- Cite (searchbar): https://www.w3schools.com/howto/howto_css_searchbar.asp -->
        <%- include('../partials/searchbar.ejs') %>
        <div id="categories">
          <ul>
            <li>Subject Areas:</li>
            <% for (c in categorized) { 
              var cleaned = c.replace(/[|&;$%@\"<>()+,]/g, "").trim();
              cleaned = cleaned.replace(/ +/g, ""); %>
              <li><a href="#<%= cleaned %>"><%= c %></a></li>
            <% }; %>
          </ul>
        </div>
        <% if (count != 0 ) {
          for (c in categorized) { %>
            <% if (categorized[c].length != 0) { 
              var cleaned = c.replace(/[|&;$%@\"<>()+,]/g, "").trim();
              cleaned = cleaned.replace(/ +/g, ""); %>
              <h2 id="<%= cleaned %>"><%= c %></h2>
              <ol class="textbooks-view">
                <% categorized[c].forEach(textbook => { %>
                      <li class="textbook-listing">
                        <a href="textbooks/<%= textbook.id %>">
                          <% if (textbook.images.length != 0) { %>
                            <img src="<%= textbook.images[0]%>" alt="textbook">
                          <% } else { %>
                            <img src="/src/textbooks/no-image.jpg" alt="textbook">
                          <% } %>
                          <ul>
                            <li class="textbook-info"><span class="label">Title:</span> <span class="value"><%= textbook.title %></span></li>
                            <li class="textbook-info"><span class="label">ISBN:</span> <span class="value"><%= textbook.isbn %></span></li>
                            <li class="textbook-info"><span class="label">Author:</span> <span class="value"><%= textbook.author %></span></li>
                            <li class="textbook-info"><span class="label">Class Code:</span> <span class="value"><%= textbook.classcode %></span></li>
                            <li class="textbook-info"><span class="label">Class Name:</span> <span class="value"><%= textbook.classname %></span></li>
                            <li class="textbook-info"><span class="label">Asking Price:</span> <span class="value">$<%= textbook.price %></span></li>
                          </ul>
                        </a>
                      </li>
                    
                  <% 
                }); %> 
              </ol>
          <% } 
          } 
        } else { %>
          <p> There are no textbooks for sale.</p>
        <% } %>
    </main>
    <%- include('../partials/footer.ejs') %>
  </div>
</body>
</html>