<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/searchbar.css">
    <link rel="stylesheet" href="/css/textbook.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascript/textbook.js"></script>
    <title>booksmart - Get books smarter!</title>
</head>

<body>
<div class="page-wrap">
    <%- include('../partials/header.ejs') %>
    <main class="page-main">
      <div class="img-wrap">
        <img id="image" src="/src/textbooks/<%=textbook.images[0]%>" alt="textbook">
      </div>
      <div class="info">
          <h1 id="textbook-name"><%= textbook.title %></h1>
          <div id="price">$<%= textbook.price %></div>
          <h2>Textbook Info</h2>
          <ul>
              <li class="textbook-info"><span class="label">ISBN:</span> <span class="value"><%= textbook.isbn %></span></li>
              <li class="textbook-info"><span class="label">Author:</span> <span class="value"><%= textbook.author %></span></li>
              <li class="textbook-info"><span class="label">Quality:</span> <span class="value"><%= textbook.quality %></span></li>
          </ul>
          <h2>Class Info</h2>
          <ul>
            <li class="textbook-info"><span class="label">Class Code:</span> <span class="value"><%= textbook.classcode %></span></li>
            <li class="textbook-info"><span class="label">Class Name:</span> <span class="value"><%= textbook.classname %></span></li>
            <li class="textbook-info"><span class="label">Last Prof:</span> <span class="value"><%= textbook.professor %></span></li>
        </ul>
      </div>
      <div id="extra-images-wrap">
        <% for (i=0; i < textbook.images.length; i++) { %>
                <a href="/src/textbooks/<%=textbook.images[i]%>" <% if (i==0) { %> class="focused" <% } %>><img src="/src/textbooks/<%=textbook.images[i]%>" alt="textbook photo"></a>
        <% } %>
        </div>
      <div class="sell-wrap">
        <p>This seller has had <span id="confirmed-exchanges">1</span> confirmed exchange(s).</p>
        <div class="contact-wrap">
          <button type="button">Contact Seller</button>
        </div>
        <div class="update-delete">
          <form action="textbooks.html">
            <button id="update" type="submit">Update</button>
            <button id="delete" type="submit">Delete</button>
          </form>
        </div>
      </div>
    </main>
    <%- include('../partials/footer.ejs') %>
  </div>
</body>
</html>
